html body main {
  font-family: "Raleway",sans-serif;
  max-width: 1400px;
  margin: 0px auto;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center; 
}
nav img{
  margin-top: 44px;
  margin-left: 55px;
  height: 29px;
  width: 61px;
}
nav ul{
  width: 381px;
  height: 19px;
  text-align: center;
  display: flex; 
  list-style: none;
  margin-top: 48px;  
}
nav ul li a{
  font-size: 16px;
  font-weight: 400px;
  text-decoration: none;
  color: black;
  padding-right: 67px;
}
nav ul :hover{
  font-weight: 500;
  border-top: 2px solid;
  color: #0065FC;
}
h1{
  margin-left: 55px;
  font-weight: 700;
  font-size: 22px;
}
.p-titre{
  margin-left: 55px;
  font-weight: 400;
  font-size: 16px;
}
form{
  display: in;
  align-items: center;
  display: flex;
  margin-left: 55px;
}
form i{ 
  border: 1px solid #F2F2F2;
  border-radius: 15px 0px 0px 15px;
  background: #691515;
}
form p{
  display: flex;
  align-items: center;
}
form input{
  width: 250px;
  height: 46px;
  font-size: 18px;
  font-weight: 700px;
  border: none;
}
form button{
  width: 132px;
  height: 49px;
  font-size: 18px;
  border-radius: 0px 20px 20px 0px;
  background-color: #0065FC;
  border: 1px solid #0065FC;
  color: #FFFFFF;
}
.fa-solid{
 padding: 17px;

}
form :hover{
  border: 1px solid #0065FC;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#filtre{
  display: flex;
  align-items: center;
  margin-left: 49px;
  margin-top: 23px;
}

section p{
  display:flex ;
  align-items: center;  
  width: 140px;
  height: 40px;
  padding-right: 10px;
  margin-left: 32px;
  border: 1px solid;
  border-radius: 25px
  
}
#filtre p:hover{
  background: #DEEBFF; 
}

p i{
  color: #0065FC;
}