html {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #FFFFFF;
}

body {
  font-family: "Raleway", sans-serif;
  max-width: 1400px;
  margin: auto;
  background: #FFFFFF;
  padding: 20px 20px 0 20px;
}

.fa-star[data-active="true"] {
  font-size: 12px;
  color: #0065FC;
}

.fa-star[data-active="false"] {
  font-size: 12px;
  color: #F2F2F2;
}

.etoile {
  display: flex;
  margin-top: auto;
  height: 12%;
}

/***********
 * Nav_Bar *
 ***********/

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img {
  height: 19px;
}

nav ul {
  display: flex; 
  text-align: center;
  list-style: none; 
}

nav ul li a {
  padding: 30px;
  font-size: 16px;
  text-decoration: none;
  font-weight: 500;
  color: black;
}

nav ul li :hover {
  border-top: 2px solid;
  color: #0065FC;
}

.hTitre {
  font-size: 22px;
  font-weight: 700;
}

.pTitre {
  font-size: 16px;
  font-weight: 400;
}

/******************
 * Form Rechercher *
 ******************/

form {
  display: flex;
  align-items: center;
}

form p {
  display: flex;
  align-items: center;
}

form input {
  height: 31px;
  font-size: 18px;
  font-weight: 700;
  padding: 8px 0 7px 10px;
  border: 2px solid #F2F2F2;
  color: #000000;
}

input::placeholder {
  font-size: 18px;
  font-weight: 700;
  color: #000000;
}

form button {
  font-size: 18px;
  font-weight: 700;
  border-radius: 0px 20px 20px 0px;
  padding: 14px 16px 14px 16px;
  background-color: #0065FC;
  border: 1px solid #0065FC;
  color: #FFFFFF;
}

.fa-location-dot {
  width: 14px;
  color: #000000;
  padding: 10px 13px;
  border-radius: 15px 0px 0px 15px;
  border: 7px solid #F2F2F2;
  background-color: #F2F2F2;
}

.fa-magnifying-glass {
  display: none;
}

/* *****************
 * Section Filtre *
 ******************/

#filtre {
  display: flex;
  align-items: center;
  gap: 40px;
}

#filtre h3 {
  font-size: 18px;
  font-weight: 700;
}

.pFiltre {
  display: flex;
  gap: 40px;
}

.filtreP {
  display: flex;
  align-items: center;
  padding: 10px 15px 10px 15px;
  border: 2px solid #D9D9D9;
  border-radius: 25px;
  font-size: 17px;
  font-weight: 700;
}

#filtre i {
  padding-right: 10px;
  font-size: 22px;
  color: #0065FC;
}

#filtre p:hover {
  background: #DEEBFF;
  cursor: pointer;
}

/********
 * Info *
 ********/

.pInfo {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  gap: 10px;
}

.pInfo i {
  padding: 5px 10px;
  text-align: center;
  border: 1px solid #D9D9D9;
  border-radius: 15px 15px;
  color: #0065FC;
}

/***********************
 * Section Hebergement *
 ***********************/

.hebergements {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 40px;
}

#hebergement {
  width: 70%;
  display: flex;
  flex-direction: column;
  padding: 40px;
  background: #F2F2F2;
  border-radius: 20px;
}

#hebergement h2 {
  margin-top: 10px;
  margin-bottom: 25px;
  font-size: 22px;
  font-weight: 700;
  color: #000000;
}

#hebergement h3 {
  margin: 0;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 700;
  color: #000000;
}

#hebergement p {
  margin: 7px 0;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
}

#hebergement figure {
  height: 200px;
  margin: 0;
  padding: 7px;
  background: #FFFFFF;
  border-radius: 20px;
}

.imgMarseille {
  width: 100%;
  height: 124px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}

.containerHebergement {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cardHebergement {
  width: 30%;
  margin-bottom: 25px;
  text-decoration: none;
  background-color: #FFFFFF;
  border-radius: 25px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

#hebergement .etoile {
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
}

#hebergement figcaption {
  margin-left: 15px;
}

.aAfficher {
  margin: 10Px 0 25px 0;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  color: #000000;
}

/*********************
 * Section Populaire *
 *********************/

#populaire {
  width: 30%;
  display: flex;
  flex-direction: column;
  padding: 40px;
  background: #F2F2F2;
  border-radius: 20px;
}

#populaire h2 {
  display: flex;
  justify-content: space-between;
  font-size: 22px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 25px;
}

#populaire .fa-chart-line {
  color: #0065FC;
  font-size: 18px;
}

.containerPopulaire {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.cardPopulaire {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  border-radius: 20px;
  background: #FFFFFF;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

#populaire figure {
  width: 100%;
  height: 140px;
  display: flex;
  margin: 0;
  padding: 5px;
  background: #FFFFFF;
  border-radius: 20px;
}

.imgPopulaire {
  width: 40%;
  height: 100%;
  border-radius: 20px 0px 0px 20px;
  object-fit: cover;
}

.imgPopulaireLast {
  object-fit: cover;
}

#populaire figcaption {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

#populaire h3 {
  margin: 15px 0 0 0;
  font-size: 16px;
  font-weight: 700;
  color: #000000;
}

#populaire p {
  font-size: 14px;
  font-weight: 400;
  color: #000000;
}

/********************
 * Section Activite *
 ********************/

#activite {
  width:100%;
  display: flex;
  flex-direction: column;
}

#activite h2 {
  margin: 60px 0 30PX 0;
}

.containerActivite {
  display: flex;
  justify-content: space-between;
}

.cardActivite {
  width: 23%;
  border-radius: 20px;
  background-color: #FFFFFF;
  text-decoration: none;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

#activite .figActivite {
  margin: 0;
}

#activite h3 {
  font-size: 16px;
  font-weight: 700;
  color: #000000;
}

.imgActivite {
  width: 100%;
  height: 394px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}

#activite figcaption {
  padding: 7px 15px;
}

/**********
 * Footer *
 **********/

footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
  padding-bottom: 20px;
  background: #F2F2F2;
}

footer h3 {
  font-weight: 700;
  font-size: 18px;
  margin: 0;
}

footer a {
  text-decoration: none;
  color: #000000;
  font-weight: 400;
  font-size: 16px;
}

footer H3 {
  margin: 35px 0 0 0;
}

.leftFooter {
  display: flex;
  flex-direction: column;
  width: 18%;
}

.centerFooter {
  display: flex;
  flex-direction: column;
  width: 17%;
}

.rightFooter {
  display: flex;
  flex-direction: column;
  width: 29%;
}

#footer ul {
  list-style: none;
  padding: 0;
}

#footer li {
  display: flex;
}

.footerA {
  margin: 5px 0;
}

/***************
 * Media Query *
 ***************/

@media screen and (max-width: 992px) 
{
  #filtre{
    gap: 20px;
  }
  
  .pFiltre{
    gap: 20px;
  }

  
  .hebergements {
    flex-direction: column;
  }

  #hebergement {
    width: 91%;
  }

  #populaire {
    width: 91%;
  }

  .containerPopulaire {
    flex-direction: row;
  }

  .cardPopulaire {
    width: 30%;
  }

  #populaire figcaption {
    flex-direction: column;
  }

  #activite{
    width: 100%;
  }

  .cardActivite{
    width: 21%;
  }

  .imgActivite {
    height: 211px;
  }

  footer {
    width: 96%;
    padding-left: 42px;
  }

  .leftFooter {
    width: 34%;
  }

  .centerFooter {
    width: 25%;
  }

  .rightFooter {
    width: 35%;
  }
}

@media screen and (max-width: 768px) 
{

  body{
    padding: 30px 0 0 0 ;
  }
  
  nav {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .logo {
    margin-bottom: 35px;
  }

  nav ul {
    width: 100%;
    justify-content: space-around;
    gap: initial;
    padding: 0;
  }

  nav li {
    width: 100%;
    padding: 30px;
    border-bottom: 2px solid transparent;
  }

  nav ul li:hover {
    width: 100%;
    border-top: none;
    border-bottom: 2px solid #0065FC;
  }

  nav ul li a:hover{ 
    border-top: none; 
  }

  nav li:hover{
    border-top: none;
  }
  
  .titlePrincipal{
    padding: 0 60px 0 30px;
  }

  form{
    justify-content: center;
    margin-top: 30px;
  }

  span {
    display: none;
  }

  .fa-magnifying-glass {
    display: block;
    color: #D9D9D9;
  }

  #filtre {
    flex-direction: column;
    align-items: initial;
    gap: 0;
    padding: 0 25px;
  }

  .pFiltre {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .filtreP {
    width:37%;
    font-size: 11px;
  }
  
  .info{
    margin: 30px 0;
    padding-left: 20px;
    padding-right: 23px;
  }

  .pInfo{
    align-items: baseline;
  }

  .hebergements {
    flex-direction: column-reverse;
  }
  
  #hebergement{
    width: 100%;
    padding: 0;
    background-color: #FFFFFF;
   
  }
  #hebergement h2{
    padding-left: 20px;
  }

  .cardHebergement {
    width: 95%;
    height: 250px;
  }

  #hebergement figure {
    height: 95%;
  }

  #hebergement .containerHebergement {
    flex-direction: column;
    align-items: center;
  }

  .imgMarseille {
    height: 66%;
  }

  .aAfficher{
    display: none;
  }

  #populaire {
    width: 100%;
    padding: 0 0 40px 0;
    border-radius: initial;
  }

  #populaire h2{
    padding-left: 20px;
  }

  .fa-chart-line{
    padding-right: 20px;
  }

  #populaire .containerPopulaire {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .cardPopulaire {
    width: 95%;
  }

  #activite {
    width: 100%;
    padding: 0;
  }

  #activite h2{
    padding-left: 20px;
  }

  .cardActivite {
    width: 95%;
    margin-bottom: 25px;
  }

  #activite .containerActivite {
    flex-direction: column;
    align-items: center;
  }

  .imgActivite{
    height: 150px;
  }

  footer {
    width: 95%;
    flex-direction: column;
    padding-left: 20px;
  }

  .leftFooter {
    width: 100%;
  }

  .centerFooter {
    width: 100%;
  }

  .rightFooter {
    width: 100%;
  }
}